<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Typescript & angular Todo</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <!--<script src='js/base.js'></script>-->
    <script src='node_modules/angular/angular.js'></script>
    <script src='lib/angular-route.js'></script>
    <!--<script src="js/_all.js"></script>-->
    <script src="js/app.js"></script>
    <style>[ng-cloak] { display: none; }</style>
</head>

<body ng-app="todomvc">


    <!--<script type="text/ng-template" id="todolist.html">
            <h1>Todo MVC</h1>

    </script>-->
    <section class='todoapp' ng-controller="todoCtrl">
        <header class="header">
            <h1>todos</h1>
            <form class="todo-form" ng-submit="vm.addTodo()">
                <input type="text" class="new-todo" autofocus ng-model="newTodo">
            </form>
        </header>
        <section class="main" ng-show="todos.length" ng-cloak>
            <input class="toggle-all" type="checkbox" ng-model="allChecked" ng-click="vm.markAll(allChecked)">
            <label for="toggle-all">Mark all as completes</label>
            <ul class="todo-list">
                <li ng-repeat="todo in todos" ng-class="{completed:todo.completed,editing:todo==editedTodo}">
                    <div class="view">
                        <input type="checkbox" class="toggle" ng-model="todo.completed">
                        <label>{{todo.title}}</label>
                        <button class="destory" ng-class="vm.removeTodo(todo)"></button>
                    </div>
                </li>
            </ul>
        </section>
    </section>

</body>


</html>